@font-face {
  font-family: 'RobotoMono-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Bebas Neue Cyrillic'),
    url('./assets/fonts/RobotoMono-Bold.woff2') format('woff2'),
    url('./assets/fonts/RobotoMono-Bold.woff') format('woff');
}

@font-face {
  font-family: 'RobotoMono-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Gilroy-Light'),
    url('./assets/fonts/RobotoMono-Medium.woff2') format('woff2'),
    url('./assets/fonts/RobotoMono-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Unbounded-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Gilroy-Light'),
    url('./assets/fonts/Unbounded-Bold.woff2') format('woff2'),
    url('./assets/fonts/Unbounded-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Unbounded-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy-Light'),
    url('./assets/fonts/Unbounded-Light.woff2') format('woff2'),
    url('./assets/fonts/Unbounded-Light.woff') format('woff');
}

@font-face {
  font-family: 'Unbounded-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Gilroy-Light'),
    url('./assets/fonts/Unbounded-Medium.woff2') format('woff2'),
    url('./assets/fonts/Unbounded-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Unbounded-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy-Light'),
    url('./assets/fonts/Unbounded-Regular.woff2') format('woff2'),
    url('./assets/fonts/Unbounded-Regular.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Unbounded-Light', sans-serif;
  background-color: #0d0e15;
  background-image: url('./assets/images/bg1.webp'), url('./assets/images/bg2.webp'),
    url('./assets/images/bg3.webp'), url('./assets/images/bg4.webp');
  background-position: top right, top 1620px left, top 3007px right, top 4031px left;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat ;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
